<div class="p-2 gap-1 d-flex flex-wrap">
  {%- for affiliation_name in include.affiliations_list -%}
    {%- comment -%} Check if it's a country code (2 characters) {%- endcomment -%}
    {%- if affiliation_name.size == 2 -%}
      
      {%- assign country_code = affiliation_name | upcase %}
      {%- assign country_link = site.pages | where:"country_code",country_code | first %}
      {%- assign country_name = site.data.countries[country_code] %}

      {%- if country_link %}
        <a role="button" data-bs-toggle="tooltip" title="{{country_name}}" class="btn btn-sm d-flex align-items-center contributor-link hover-primary" href="{{country_link.url | relative_url}}">
      {%- else %}
        <a role="button" data-bs-toggle="tooltip" title="{{country_name}}" class="btn btn-sm contributor-link d-flex align-items-center hover-primary disabled border-white" aria-disabled="true">
      {%- endif %}
        <div class="d-flex justify-content-center affiliation-flag">
          {%- include affiliation-logo.html country_code=country_code name=country_code -%}
        </div>
      </a>
    {%- else -%}
      {%- assign affiliation_info = site.data.affiliations | where:"name",affiliation_name | first %}
      <a class="btn btn-sm contributor-link d-flex align-items-center justify-content-center hover-primary" data-bs-toggle="tooltip" title="{{affiliation_info.name}}" href="{{affiliation_info.url}}">
        <img src="{{affiliation_info.image_url | relative_url}}" alt="{{affiliation_info.name}}" class="affiliation-img">
      </a>
    {%- endif -%}
  {%- endfor -%}
</div>
