<nav id="breadcrumbs" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <ol class="breadcrumb">
        {% if crumbs.size > 0 %}
        <li class="breadcrumb-item">
            <a href="{{ site.baseurl }}/">Home</a>
        </li>
        {% endif %}
        {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        <li class="breadcrumb-item last" aria-current="page">
            {{ page.title }}
        </li>
        {% else %}
        {% capture crumb_url %}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | relative_url }}{% endfor %}/{% endcapture %}
        {% assign has_index = site.pages | where: "url", crumb_url %}
        <li class="breadcrumb-item">
            {% if has_index.size == 1 %}<a href="{{crumb_url}}">{% endif %}
            {{ crumb | replace:'-',' ' | replace:'_',' ' | remove:'.html' | capitalize }}
            {% if has_index.size == 1 %}</a>{% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
