<nav id="breadcrumbs" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <ol class="breadcrumb">
        {% if crumbs.size > 0 %}
        <li class="breadcrumb-item">
            <a href="{{ site.baseurl }}/"><i class="fa-solid fa-house me-2 fa-xs"></i></a>
        </li>
        {% endif %}
        {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        <li class="breadcrumb-item last" aria-current="page">
            {{ page.title }}
        </li>
        {% else %}
        {% capture crumb_url %}{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: "/" }}{% endfor %}{% endcapture %}
        {% assign has_index = site.pages | where: "url", crumb_url | first %}
        <li class="breadcrumb-item">
            {% if has_index %}<a href="{{crumb_url}}">{{ has_index.title }}</a>
            {% else %}
            {{ crumb | replace:'-',' ' | replace:'_',' ' | remove:'.html' | capitalize }}
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
