{% if page.title %}
<h2>How to cite this page</h2>
<div>
    {% if page.contributors %}
    {{ page.contributors | join: ", " }},
    {% endif %}
    "<em>{{ page.title }}</em>".
    {% if site.url %}
    {{ site.url }}.
    {% endif %}
    {% assign page_url = page.url | absolute_url %}
    <a href="{{ page_url }}">{{ page_url }}</a> <span id="current_date"></span>.
</div>
{% endif %}

<script>
    var current_date = new Date().toLocaleDateString('en-uk', { year:"numeric", month:"long", day:"numeric"})
    document.getElementById("current_date").textContent = "(accessed " + current_date + ")";
</script>
