{% if page.page_citation and page.title %}
<h2>How to cite this page</h2>
<p>
    {% if page.contributors %}
    {{ page.contributors | join: ", " }},
    {% endif %}
    "<em>{{ page.title }}</em>".
    {% if site.url %}
    {{ site.url | remove: "https://www." | remove: "http://www." | remove: "https://" | remove: "http://"  }}.
    {% endif %}
    {% assign page_url = page.url | absolute_url %}
    <a href="{{ page_url }}">{{ page_url }}</a> <span id="current_date"></span>.
</p>
<script>
    var current_date = new Date().toLocaleDateString('en-uk', { year:"numeric", month:"long", day:"numeric"})
    document.getElementById("current_date").textContent = "(accessed " + current_date + ")";
</script>
{% endif %}

