{%- assign contributors_lookup = site.data.CONTRIBUTORS %}
{%- assign allcontrstr = nil %}
{%- assign nr = include.col | default: 5 %}
{%- if include.custom %}
{%- assign allcontrstr = include.custom %}
{%- elsif include.role %}
{%- assign rolefilter =  include.role | downcase %}
{%- for contr in contributors_lookup %}
{%- assign contrrole = contr[1]['role'] | downcase %}
{%- if rolefilter == contrrole %}
{%- if allcontrstr %}
{%- assign allcontrstr = allcontrstr | append: ", " | append: contr[0] %}
{%- else %}
{%- assign allcontrstr = contr[0] %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- else %}
{%- for page in site.pages %}
{%- if page.contributors and page.search_exclude != true and page.contributors.size != 0 %}
{%- assign pagecontr = page.contributors | join: ", " %}
{%- if allcontrstr %}
{%- assign allcontrstr = allcontrstr | append: ", " | append: pagecontr %}
{%- else %}
{%- assign allcontrstr = pagecontr %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- for contr in contributors_lookup %}
{%- if allcontrstr %}
{%- assign allcontrstr = allcontrstr | append: ", " | append: contr[0] %}
{%- else %}
{%- assign allcontrstr = contr[0] %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- assign allcontributors = allcontrstr | split: ", " | uniq %}
{%- unless include.sort == false %}
{%- assign allcontributors = allcontributors | sort %}
{%- endunless %}
{%- unless allcontributors.size == 0 %}
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-{{nr}} g-4 contributor-cards mb-4">
  {%- for contributor_name in allcontributors %}
  {%- assign data = contributors_lookup[contributor_name] %}
  <div class="col">
    {%- include contributor-card.html name=contributor_name image_url=data.image_url git=data.git email=data.email orcid=data.orcid role=data.role affiliation=data.affiliation %}
  </div>
  {%- endfor %}
</div>
{%- endunless %}
