{%- assign contributors_lookup = site.data.CONTRIBUTORS %}
{%- unless include.sort == false %}
{%- assign name_list = include.contributors_list | sort %}
{%- else %}
{%- assign name_list = include.contributors_list %}
{%- endunless %}
<div class="gap-1 rounded page-contributors d-flex flex-wrap">
  {%- for contributor_name in name_list %}
    {%- assign data = contributors_lookup[contributor_name] %}
    <div class="dropup-center dropup d-inline-block">
      <button class="btn btn-sm dropdown-toggle contributor-link d-flex gap-2 align-items-center hover-primary rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-offset="0,10">
        <div class="ratio ratio-1x1 contributor-img-sm">
          {%- include contributor-avatar.html name=contributor_name image_url=data.image_url git=data.git small=true %}
        </div>
        <div>{{ contributor_name }}</div>
      </button>
      <div class="dropdown-menu shadow p-0 border-0 contributor-cards">
        {%- include contributor-card.html name=contributor_name image_url=data.image_url git=data.git email=data.email orcid=data.orcid role=data.role affiliation=data.affiliation %}
      </div>
    </div>
  {%- endfor %}
</div>
