<footer id="footer">
    <div class="container py-1 py-4">
        <div class="row g-4 d-flex justify-content-between">
            {%- for column in site.data.footer.columns %}
            {%- if column.type == "image" %}
            <div class="col-lg-{{column.width}} col-sm-6 d-flex justify-content-center">
                <img class="my-auto" width="{{column.image_width}}" src="{{ column.src | relative_url }}" alt="{{column.alt}}" />
            </div>
            {%- elsif column.type == "links" %}
            <div class="col-lg-{{column.width}} col-sm-6">
                {%- if column.title != nil %}
                <span class="footer-title">{{column.title}}</span>
                {%- endif %}
                <ul class="mb-0 list-unstyled">
                    {%- for link in column.children %}
                    {%- if link.url != nil and link.external_url == nil%}
                    <li><a href="{{ link.url | relative_url }}">{{link.url_text}}</a></li>
                    {%- elsif link.external_url != nil and link.url == nil %}
                    <li><a href="{{link.external_url}}">{{link.url_text}}</a></li>
                    {%- else %}
                    <li>{{link.url_text}}</li>
                    {%- endif %}
                    {%- endfor %}
                </ul>
            </div>
            {%- elsif column.type == "text" %}
            <div class="col-lg-{{column.width}} col-sm-6 d-flex justify-content-center">
                {{column.content | markdownify }}
            </div>
            {%- endif %}
            {%- endfor %}
        </div>
        {%- unless site.data.footer.extra_line == nil %}
        <div class="row">
            <div class="text-center pt-4 mb-0">
                {{site.data.footer.extra_line | markdownify }}
            </div>
        </div>
        {%- endunless %}
    </div>
    <div class="copyright p-4">
        <div class="container d-flex justify-content-between flex-column flex-lg-row">
            {%- unless site.data.footer.copyright == nil %}
            <div class="d-flex align-items-center mb-3 mb-lg-0 mx-auto mx-lg-0 text-center">{{ site.data.footer.copyright | markdownify }}</div>
            {%- endunless %}
            <div class="d-flex align-items-center mx-auto ms-lg-4 me-lg-0">
                <a id="ett-logo" class="text-nowrap" href="https://elixir-belgium.github.io/elixir-toolkit-theme">Built with
                    <svg data-name="ETT logo" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 77.2 77.12">
                        <defs>
                            <style>
                                .cls-2,
                                .cls-3 {
                                    fill: #fff;
                                    pointer-events: none;
                                }

                                .cls-2 {
                                    opacity: 0.18;
                                }
                            </style>
                        </defs>
                        <g>
                            <circle class="cls-1" cx="38.56" cy="38.56" r="38.56" />
                            <path class="cls-2" d="M9,48.08a44.19,44.19,0,0,0,4.68,19.84A38.56,38.56,0,1,0,55.16,3.72c-.59,0-1.19-.05-1.79-.05A44.4,44.4,0,0,0,9,48.08Z" />
                            <path class="cls-3" d="M54,20.52H13.64a.85.85,0,0,0-.84.85v34a.84.84,0,0,0,.84.84H30a.84.84,0,0,0,.85-.84V51.16a.85.85,0,0,0-.85-.85H20.07a.85.85,0,0,1-.85-.85V42a.85.85,0,0,1,.85-.84h8.66a.85.85,0,0,0,.85-.85V36.06a.85.85,0,0,0-.85-.85H20.07a.85.85,0,0,1-.85-.84V27.29a.85.85,0,0,1,.85-.85H38.26a.85.85,0,0,1,.85.85V55.38a.84.84,0,0,0,.85.84h4.73a.84.84,0,0,0,.85-.84V27.29a.85.85,0,0,1,.84-.85H61.27a.85.85,0,0,1,.84.85V55.38a.84.84,0,0,0,.85.84h4.73a.84.84,0,0,0,.85-.84V27.29a.85.85,0,0,1,.85-.85h6.77a.84.84,0,0,0,.84-.85V21.37a.84.84,0,0,0-.84-.85Z" />
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
