<footer id="footer">
    <div class="container py-1 py-4">
        <div class="row g-4 d-flex justify-content-between">
            {%- for column in site.data.footer.columns %}
            {%- if column.type == "image" %}
            <div class="col-lg-{{column.width}} col-sm-6 d-flex justify-content-center">
                <img class="my-auto" width="{{column.image_width}}" src="{{ column.src | relative_url }}" alt="{{column.alt}}" />
            </div>
            {%- elsif column.type == "links" %}
            <div class="col-lg-{{column.width}} col-sm-6">
                {%- if column.title != nil %}
                <span class="footer-title">{{column.title}}</span>
                {%- endif %}
                <ul class="mb-0">
                    {%- for link in column.children %}
                    {%- if link.url != nil and link.external_url == nil%}
                    <li><a href="{{ link.url | relative_url }}">{{link.url_text}}</a></li>
                    {%- elsif link.external_url != nil and link.url == nil %}
                    <li><a href="{{link.external_url}}">{{link.url_text}}</a></li>
                    {%- else %}
                    <li>{{link.url_text}}</li>
                    {%- endif %}
                    {%- endfor %}
                </ul>
            </div>
            {%- elsif column.type == "text" %}
            <div class="col-lg-{{column.width}} col-sm-6 d-flex justify-content-center">
                {{column.content | markdownify }}
            </div>
            {%- endif %}
            {%- endfor %}
        </div>
        {%- unless site.data.footer.extra_line == nil %}
        <div class="row">
            <div class="text-center pt-4 mb-0">
                {{site.data.footer.extra_line | markdownify }}
            </div>
        </div>
        {%- endunless %}
    </div>
    <div class="copyright p-4">
        <div class="container d-flex justify-content-between flex-column flex-lg-row">
            {%- unless site.data.footer.copyright == nil %}
            <div class="d-flex align-items-center mb-3 mb-lg-0">{{ site.data.footer.copyright | markdownify }}</div>
            {%- endunless %}
            <div class="ms-0 ms-lg-4"><a href="https://elixir-belgium.github.io/elixir-toolkit-theme">Powered by <img alt="ELIXIR Toolkit Logo" width="30px" src="{{'assets/img/ett_compact_logo.svg' | relative_url}}"></a></div>
        </div>
    </div>
</footer>
