{%- if site.theme_variables.github_buttons.edit_me or site.theme_variables.github_buttons.open_issue or site.theme_variables.github_buttons.history or site.theme_variables.github_buttons.edit_me == nil or site.theme_variables.github_buttons.open_issue == nil or site.theme_variables.github_buttons.history == nil %}
<div id="edit-me" class="btn-group">
    {%- if site.theme_variables.github_buttons.edit_me or site.theme_variables.github_buttons.edit_me == nil %}
    {%- if page.custom_editme %}
    <a role="button" data-bs-toggle="tooltip" title="Propose changes to the content of this page on {{site.theme_variables.git_host | default: 'GitHub' }}" href="{{site.github.repository_url}}/blob/{{site.github.source.branch}}/{{page.custom_editme}}" class="btn btn-sm hover-primary text-primary"><i class="fa-solid fa-pencil-alt"></i></a>
    {%- else %}
    <a role="button" data-bs-toggle="tooltip" title="Propose changes to this page on {{site.theme_variables.git_host | default: 'GitHub' }}"  href="{{site.github.repository_url}}/blob/{{site.github.source.branch}}/{{page.path}}" class="btn btn-sm hover-primary text-primary"><i class="fa-solid fa-pencil-alt"></i></a>
    {%- endif %}
    {%- endif %}
    {%- if site.theme_variables.github_buttons.open_issue or site.theme_variables.github_buttons.open_issue == nil %}
    <a role="button" data-bs-toggle="tooltip" title="Report an issue" href="{{site.github.repository_url}}/issues/new?title={{'Issue on page: ' | url_encode }}{{page.title | url_encode }}&amp;body={{'I would like to report an issue on the ' | url_encode }}{{page.title | url_encode }}{{' page at `'| url_encode }}{{page.url | url_encode }}{{'`. Description of the issue:' | url_encode }}" class="btn btn-sm hover-primary text-primary"><i class="fa-solid fa-exclamation"></i></a>
    {%- endif %}
    {%- if site.theme_variables.github_buttons.history or site.theme_variables.github_buttons.history == nil %}
    {%- if page.custom_editme %}
    <a role="button" data-bs-toggle="tooltip" title="Check out the history of this page" href="{{site.github.repository_url}}/commits/{{site.github.source.branch}}/{{page.custom_editme}}" class="btn btn-sm hover-primary text-primary"><i class="fa-solid fa-history"></i></a>
    {%- else %}
    <a role="button" data-bs-toggle="tooltip" title="Check out the history of this page" href="{{site.github.repository_url}}/commits/{{site.github.source.branch}}/{{page.path}}" class="btn btn-sm hover-primary text-primary"><i class="fa-solid fa-history"></i></a>
    {%- endif %}
    {%- endif %}
</div>
{%- endif %}
