{%- if page.fairsharing %}
{%- assign actual_fairsharing = nil %}
{%- for standard in page.fairsharing %}
{%- if standard.name %}
{%- assign actual_fairsharing = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.faircookbook %}
{%- assign actual_faircookbook = nil %}
{%- for recipe in page.faircookbook %}
{%- if recipe.name %}
{%- assign actual_faircookbook = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.dsw %}
{%- assign actual_dsw = nil %}
{%- for question in page.dsw %}
{%- if question.name %}
{%- assign actual_dsw = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.rdmkit %}
{%- assign actual_rdmkit = nil %}
{%- for rdmdoc in page.rdmkit %}
{%- if rdmdoc.name %}
{%- assign actual_rdmkit = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.training %}
{%- assign actual_training = nil %}
{%- for training in page.training %}
{%- if training.name %}
{%- assign actual_training = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.page_id and site.theme_variables.headings.resource-table-all-collapse%}
{%- assign tools = site.data.tool_and_resource_list | where:"related_pages", page.page_id %}
{%- unless tools.size == 0 %}
{%- assign actual_tools = 1 %}
{%- endunless %}
{%- assign country_pages = site.pages | where_exp: "item", "item.search_exclude != true" | where_exp:"item","item.national_resources != nil" %}
{%- unless country_pages.size == 0 %}
{%- assign tool_matches_total = 0 %}
{%- assign query = "related_pages." | append: page.type %}
{%- for country_page in country_pages %}
{%- assign tool_matches = country_page.national_resources | where_exp:"resource","resource.related_pages != nil" | where: query, page.page_id %}
{%- assign tool_matches_total = tool_matches_total | plus: tool_matches.size %}
{%- endfor %}
{%- endunless %}
{%- unless tool_matches_total == 0 %}
{%- assign actual_nat_tools = 1 %}
{%- endunless %}
{%- endif %}
{%- if actual_fairsharing or actual_faircookbook or actual_dsw or actual_rdmkit or actual_dsw or actual_training or actual_tools or actual_nat_tools %}
<h2 class="mb-4">{{site.theme_variables.headings.more-information-tiles | default: 'More information' }}</h2>
{%- endif %}

{%- if actual_fairsharing %}
<!-- FAIRsharing -->
<a data-bs-toggle="collapse" href="#fairsharing_collapse" role="button" aria-expanded="false" aria-controls="fairsharing_collapse" class="d-flex align-items-baseline pb-3 border-top info-collapse">
    <h3 class="mb-0 flex-grow-1 mt-3 text-dark">Links to FAIRsharing</h3><i class="fa-solid fa-chevron-right fs-5"></i>
</a>
<div class="collapse info-card" id="fairsharing_collapse">
    <div class="mt-2 p-3 pb-5">
        <img alt="FAIRsharing logo" class="img-fluid info-logo mb-4" src="{{ 'assets/img/fairsharing_logo.svg' | relative_url }}">
        <p><a href="https://fairsharing.org/">FAIRsharing</a> is a curated, informative and educational resource on data and metadata standards, inter-related to databases and data policies.</p>
        <ul>
        {%- for standard in page.fairsharing %}
            <li>
                <a class="align-items-center h-100" href="{{ standard.url }}">
                    {{standard.name}}
                </a>
            </li>
        {%- endfor %}
        </ul>
    </div>
</div>
{%- endif %}

{%- if actual_faircookbook %}
<!-- FAIR Cookbook -->
<a data-bs-toggle="collapse" href="#faircookbook_collapse" role="button" aria-expanded="false" aria-controls="faircookbook_collapse" class="d-flex align-items-baseline pb-3 border-top info-collapse">
    <h3 class="mb-0 flex-grow-1 mt-3 text-dark">Links to FAIR Cookbook</h3><i class="fa-solid fa-chevron-right fs-5"></i>
</a>
<div class="collapse info-card" id="faircookbook_collapse">
    <div class="mt-2 p-3 pb-5">
        <img alt="FAIR Cookbook logo" class="img-fluid info-logo mb-4" src="{{ 'assets/img/faircookbook_logo.svg' | relative_url }}">
        <p><a href="https://faircookbook.elixir-europe.org/">FAIR Cookbook</a> is an online, open and live resource for the Life Sciences with recipes that help you to make and keep data Findable, Accessible, Interoperable and Reusable; in one word FAIR.</p>
        <ul>
        {%- for recipe in page.faircookbook %}
            <li>
                <a class="align-items-center h-100" href="{{ recipe.url }}">
                    {{recipe.name}}
                </a>
            </li>
        {%- endfor %}
        </ul>
    </div>
</div>
{%- endif %}

{%- if actual_dsw %}
<!-- DSW -->
<a data-bs-toggle="collapse" href="#dsw_collapse" role="button" aria-expanded="false" aria-controls="dsw_collapse" class="d-flex align-items-baseline pb-3 border-top info-collapse">
    <h3 class="mb-0 flex-grow-1 mt-3 text-dark">Links to DSW</h3><i class="fa-solid fa-chevron-right fs-5"></i>
</a>
<div class="collapse info-card" id="dsw_collapse">
    <div class="mt-2 p-3 pb-5">
        <img alt="DSW logo" class="img-fluid info-logo mb-4" src="{{ 'assets/img/dsw_logo.svg' | relative_url }}">
        <p>With <a href="https://ds-wizard.org/">Data Stewardship Wizard</a> (DSW), you can create, plan, collaborate, and bring your data management plans to life with a tool trusted by thousands of people worldwide — from data management pioneers, to international research institutes.</p>
        <ul>
        {%- for question in page.dsw %}
            <li>
                <a class="align-items-center h-100" href="{{ site.dsw_deep_link_prefix | append: question.uuid }}">
                    {{question.name}}
                </a>
            </li>
        {%- endfor %}
        </ul>
    </div>
</div>
{%- endif %}

{%- if actual_rdmkit %}
<!-- RDMkit -->
<a data-bs-toggle="collapse" href="#rdmkit_collapse" role="button" aria-expanded="false" aria-controls="rdmkit_collapse" class="d-flex align-items-baseline pb-3 border-top info-collapse">
    <h3 class="mb-0 flex-grow-1 mt-3 text-dark">Links to RDMkit</h3><i class="fa-solid fa-chevron-right fs-5"></i>
</a>
<div class="collapse info-card" id="rdmkit_collapse">
    <div class="mt-2 p-3 pb-5">
        <img alt="RDMkit logo" class="img-fluid info-logo mb-4" src="{{ 'assets/img/rdmkit_logo.svg' | relative_url }}">
        <p><a href="https://rdmkit.elixir-europe.org/">RDMkit</a> is the Research Data Management toolkit for Life Sciences describing best practices and guidelines to help you make your data FAIR (Findable, Accessible, Interoperable and Reusable)</p>
        <ul>
        {%- for rdmdoc in page.rdmkit %}
            <li>
                <a class="align-items-center h-100" href="{{rdmdoc.url}}">
                    {{rdmdoc.name}}
                </a>
            </li> 
        {%- endfor %}
        </ul>
    </div>
</div>
{%- endif %}


{%- if actual_training %}
<!-- Training -->
<a data-bs-toggle="collapse" href="#training_collapse" role="button" aria-expanded="false" aria-controls="training_collapse" class="d-flex align-items-baseline pb-3 border-top info-collapse">
    <h3 class="mb-0 flex-grow-1 mt-3 text-dark">Training</h3><i class="fa-solid fa-chevron-right fs-5"></i>
</a>
<div class="collapse info-card" id="training_collapse">
    <div class="p-3 pb-5">
        <ul class="">
        {%- for training in page.training %}
        {%- assign registry = training.registry %}
            <li>
                <a class="align-items-center h-100" href="{{ training.url }}">
                    {{training.name}}
                </a>{% if registry %}<span class="ms-2 badge bg-dark text-white hover-primary">{{registry}}</span>{% endif %}
            </li>
        {%- endfor %}
        </ul>
    </div>
</div>
{%- endif %}
