{%- if page.training %}
{%- assign actual_training = nil %}
{%- for training in page.training %}
{%- if training.name %}
{%- assign actual_training = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.faircookbook %}
{%- assign actual_faircookbook = nil %}
{%- for recipe in page.faircookbook %}
{%- if recipe.name %}
{%- assign actual_faircookbook = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.fairsharing %}
{%- assign actual_fairsharing = nil %}
{%- for standard in page.fairsharing %}
{%- if standard.name %}
{%- assign actual_fairsharing = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.dsw %}
{%- assign actual_dsw = nil %}
{%- for question in page.dsw %}
{%- if question.name %}
{%- assign actual_dsw = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if page.rdmkit %}
{%- assign actual_rdmkit = nil %}
{%- for rdmdoc in page.rdmkit %}
{%- if rdmdoc.name %}
{%- assign actual_rdmkit = 1 %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if actual_training or actual_faircookbook or actual_fairsharing or actual_dsw or actual_rdmkit %}
<!-- More information -->
<h2>More information</h2>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
    {%- if actual_training %}
    <!-- Training -->
    <div class="col">
        <div class="card h-100 info-card">
            <div class="card-header fw-bold">Training</div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    {%- for training in page.training %}
                    <a class="btn bg-white hover-primary text-start d-block" href="{{ training.url }}">
                        <div class="row g-1">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                {%- assign registry = training.registry |  downcase %}
                                {%- if registry  == "tess" %}
                                <img alt="TeSS logo" class="img-fluid" src="{{ 'assets/img/tess_logo.svg' | relative_url }}">
                                {%- elsif registry == "zenodo" %}
                                <img alt="Zenodo logo" class="img-fluid" src="{{ 'assets/img/zenodo_logo.svg' | relative_url }}">
                                {%- elsif registry == "youtube" %}
                                <img alt="YouTube logo" class="img-fluid" src="{{ 'assets/img/youtube_logo.svg' | relative_url }}">
                                {%- elsif registry == "carpentries" %}
                                <img alt="Carpentries" class="img-fluid" src="{{ 'assets/img/carpentries_logo.svg' | relative_url }}">
                                {%- elsif registry == "github" %}
                                <i class="fa-brands fa-github text-dark fa-2xl my-3"></i>
                                {%- else %}
                                <i class="fa-solid fa-external-link-alt text-primary fa-lg my-3"></i>
                                {%- endif %}
                            </div>
                            <div class="col-10 d-flex align-items-center">
                                <span class="text-start">{{training.name}}</span>
                            </div>
                        </div>
                    </a>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>
    {%- endif %}
    {%- if actual_faircookbook or actual_fairsharing or actual_dsw or actual_rdmkit %}
    <!-- FAIR Cookbook and FAIRsharing -->
    <div class="col">
        <div class="card h-100 info-card">
            <div class="card-header fw-bold">Links to other ELIXIR resources</div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    {%- if actual_faircookbook %}
                    {%- for recipe in page.faircookbook %}
                    <a class="btn bg-white hover-primary text-start d-block" data-bs-toggle="tooltip" data-bs-placement="right" title="FAIRCookbook" href="{{ recipe.url }}">
                        <div class="row g-1">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img alt="FAIRCookbook logo" class="img-fluid" src="{{ 'assets/img/fairplus_compact_logo.svg' | relative_url }}">
                            </div>
                            <div class="col-10 d-flex align-items-center">
                                <span class="text-start">Step-by-step process for: {{recipe.name}}</span>
                            </div>
                        </div>
                    </a>
                    {%- endfor %}
                    {%- endif %}
                    {%- if actual_dsw %}
                    {%- for question in page.dsw %}
                    <a class="btn bg-white hover-primary text-start d-block" data-bs-toggle="tooltip" data-bs-placement="right" title="DSW" href="{{ site.dsw_deep_link_prefix | append: question.uuid }}">
                        <div class="row g-1">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img alt="DSW logo" class="img-fluid" src="{{ 'assets/img/dsw_compact_logo.svg' | relative_url }}">
                            </div>
                            <div class="col-10 d-flex align-items-center">
                                <span class="text-start">Support for DMP on: {{question.name}}</span>
                            </div>
                        </div>
                    </a>
                    {%- endfor %}
                    {%- endif %}
                    {%- if actual_fairsharing %}
                    {%- for standard in page.fairsharing %}
                    <a class="btn bg-white hover-primary text-start d-block" data-bs-toggle="tooltip" data-bs-placement="right" title="FAIRsharing" href="{{ standard.url }}">
                        <div class="row g-1">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img alt="FAIRsharing logo" class="img-fluid" src="{{ 'assets/img/fairsharing_compact_logo.svg' | relative_url }}">
                            </div>
                            <div class="col-10 d-flex align-items-center">
                                <span class="text-start">FAIRsharing collection about: {{standard.name}}</span>
                            </div>
                        </div>
                    </a>
                    {%- endfor %}
                    {%- endif %}
                    {%- if actual_rdmkit %}
                    {%- for rdmdoc in page.rdmkit %}
                    <a class="btn bg-white hover-primary text-start d-block" data-bs-toggle="tooltip" data-bs-placement="right" title="RDMkit" href="{{ rdmdoc.url }}">
                        <div class="row g-1">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img alt="RDMkit logo" class="img-fluid" src="{{ 'assets/img/rdmkit_compact_logo.svg' | relative_url }}">
                            </div>
                            <div class="col-10 d-flex align-items-center">
                                <span class="text-start">Data management guidelines on: {{rdmdoc.name}}</span>
                            </div>
                        </div>
                    </a>
                    {%- endfor %}
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
    {%- endif %}
</div>
{%- endif %}
