{%- if page.faircookbook or page.fairsharing or page.training or page.dsw %}
<!-- More information -->
<h2>More information</h2>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
    {%- if page.training %}
    <!-- Training -->
    <div class="col">
        <div class="card h-100 info-card">
            <div class="card-header fw-bold">Training</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {%- for training in page.training %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" href="{{ training.url }}">
                            <div class="row g-1">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    {%- if training.registry == "TeSS" %}
                                    <img alt="TeSS logo" class="img-fluid" src="assets/img/tess_logo.svg">
                                    {%- else %}
                                    <i class="fas fa-external-link-alt text-primary fs-5"></i>
                                    {%- endif %}
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <span class="text-start">{{training.name}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
    {%- endif %}
    {%- if page.faircookbook or page.fairsharing or page.dsw %}
    <!-- FAIR Cookbook and FAIRsharing -->
    <div class="col">
        <div class="card h-100 info-card">
            <div class="card-header fw-bold">Links to other ELIXIR resources</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {%- if page.faircookbook %}
                    {%- for recipe in page.faircookbook %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" data-bs-toggle="tooltip" data-bs-placement="right" title="FAIRCookbook" href="{{ recipe.url }}">
                            <div class="row g-1">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <img alt="FAIRCookbook logo" class="img-fluid" src="assets/img/fairplus.svg">
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <span class="text-start">Step-by-step process for: {{recipe.name}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {%- endfor %}
                    {%- endif %}
                    {%- if page.dsw %}
                    {%- for question in page.dsw %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" data-bs-toggle="tooltip" data-bs-placement="right" title="DSW" href="{{ site.dsw_deep_link_prefix | append: question.uuid }}">
                            <div class="row g-1">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <img alt="DSW logo" class="img-fluid" src="assets/img/dsw-compact.svg">
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <span class="text-start">Support for DMP on: {{question.name}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {%- endfor %}
                    {%- endif %}
                    {%- if page.fairsharing %}
                    {%- for standard in page.fairsharing %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" data-bs-toggle="tooltip" data-bs-placement="right" title="FAIRsharing" href="{{ standard.url }}">
                            <div class="row g-1">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <img alt="fairsharing logo" class="img-fluid" src="assets/img/FAIRsharing-small.svg">
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <span class="text-start">FAIRsharing collection about: {{standard.name}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {%- endfor %}
                    {%- endif %}
                    {%- if page.rdmkit %}
                    {%- for rdmdoc in page.rdmkit %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" data-bs-toggle="tooltip" data-bs-placement="right" title="RDMkit" href="{{ rdmdoc.url }}">
                            <div class="row g-1">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <img alt="RDMkit logo" class="img-fluid" src="assets/img/RDMkit_logo_condensed.svg">
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <span class="text-start">Data management guidelines on: {{rdmdoc.name}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {%- endfor %}
                    {%- endif %}
                </ul>
            </div>
        </div>
    </div>
    {%- endif %}
</div>
{%- endif %}
