{%- assign sidebar = site.data.sidebars[include.sidebar]['subitems'] -%}
{%- for sections in sidebar %}
{%- assign section = sections.title | downcase | replace: " ", "_" %}
{%- assign section_pages = site.pages | where:"type", section %}
{%- unless section_pages.size == 0 %}
<h2>{{sections.title}}</h2>
<div class="table-responsive">
    <table class="table ">
        <thead>
            <tr>
                <th>title</th>
                <th>redirect_from</th>
                <th>description</th>
                <th>url</th>
            </tr>
        </thead>
        <tbody>
            {%- for section_page in section_pages %}
            {%- if section_page.redirect_from and section_page.search_exclude != true %}
            <tr>
                <td><a href="{{ section_page.url | relative_url }}">{{section_page.title}}</a></td>
                <td>{{section_page.redirect_from}}</td>
                <td>{{section_page.description | default: "no description"}}</td>
                <td>{{section_page.url}}</td>
            </tr>
            {%- endif %}
            {%- endfor %}
        </tbody>
    </table>
</div>
{%- endunless %}
{%- endfor %}
