{%- assign actual_related = nil %}
{%- for section in page.related_pages %}
{%- unless section[1].size == 0 %}
{%- assign actual_related = 1 %}
{%- endunless %}
{%- endfor %}
{%- if actual_related != nil %}
<!-- Read next -->
<h2>Related pages</h2>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-2 navigation-tiles">
    {%- if page.related_pages %}
    <!-- Related pages -->
    {%- for section in page.related_pages %}
    {%- unless section[1].size == 0 %}
    {%- for page_id in section[1] %}
    {%- assign section_pages = site.pages | where:"type", section[0] %}
    {%- assign page_hit = section_pages | where:"page_id", page_id | first %}
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <a class="stretched-link" aria-label="Go to the {{current_page.title}} page" href="{{ current_page.url | relative_url }}">
                    <h5 class="card-title m-0">{{page_hit.title}}</h5>
                </a>
            </div>
            <div class="card-body">
                {%- if page_hit.description %}
                <p class="card-text">{{ page_hit.description}}</p>
                {%- endif %}
            </div>
        </div>
    </div>
    {%- endfor %}
    {%- endunless %}
    {%- endfor %}
    {%- endif %}
</div>
{%- endif %}
