{%- assign actual_related = nil %}
{%- for section in page.related_pages %}
{%- unless section[1].size == 0 %}
{%- assign actual_related = 1 %}
{%- endunless %}
{%- endfor %}
{%- if actual_related != nil %}
<!-- Read next -->
<h2>Related pages</h2>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
    {%- if page.related_pages %}
    <!-- Related pages -->
    {%- for section in page.related_pages %}
    {%- unless section[1].size == 0 %}
    <div class="col">
        <div class="card h-100 info-card">
            <div class="card-header fw-bold">{{ section[0] | replace: "_", " " | capitalize }}</div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    {%- for page_id in section[1] %}
                    {%- assign section_pages = site.pages | where:"type", section[0] %}
                    {%- assign metadata = section_pages | where:"page_id", page_id %}
                    {%- for page_hit in metadata %}
                    <a class="btn bg-white hover-primary text-start d-block" href="{{ page_hit.url | relative_url }}">
                        <span>{{page_hit.title}}{% if page_hit.description %}</span><br><small class="text-muted">{{ page_hit.description }}</small>{% endif %}
                    </a>
                    {%- endfor %}
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>
    {%- endunless %}
    {%- endfor %}
    {%- endif %}
</div>
{%- endif %}
