{%- if page.national_resources %}
{%- assign tools = page.national_resources %}
<h2>Tools and resources</h2>
<h3>Tailored to users in {{page.title}}</h3>
<p>Developed and/or deployed by institutions and organisations in {{page.title}}.</p>
<a class="visually-hidden-focusable" href='#skip-tool-table-1'>Skip tool table</a>
<div class="table-responsive mt-4 mb-5">
    <table class="tooltable table display">
        <thead>
            <tr class="text-nowrap">
                <th>Resource</th>
                <th>Description</th>
                <th>Related pages</th>
                <th>Registry
                    <a data-bs-toggle="tooltip" data-bs-original-title="Links to related information in ELIXIR registries: related policies and standards in FAIRsharing, scientific and technical descriptions of the resource in bio.tools, and related training in TeSS.">
                        <i class="fa-solid fa-info-circle"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {%- for tool in tools | sort %}
            <tr>
                {% if tool.url %}
                <td><a href="{{tool.url}}">{{tool.name}}</a>
                </td>
                {%- else %}
                <td>{{tool.name}}</td>
                {%- endif %}
                <td>{{tool.description | markdownify }}
                    {%- if tool.instance_of or tool.how_to_access %}
                    {%- assign linked_tool = site.data.tool_and_resource_list | where:"id", tool.instance_of | first %}
                    <div class="d-block mt-1">
                        {%- if linked_tool %}
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="This resource is an instance of {{linked_tool.name}}"><span class="badge text-primary border border-primary">{{linked_tool.name}}</span></span>
                        {%- endif %}
                        {%- if tool.how_to_access %}
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{tool.how_to_access}}"><span class="badge text-primary border border-primary"> <i class="fa-solid fa-key"></i></span></span>
                        {%- endif %}
                    </div>
                    {%- endif %}
                </td>
                {%- if tool.related_pages %}
                {%- capture related_pages %}
                {%- for section in tool.related_pages %}
                {%- unless section[1].size == 0 %}
                {%- for tag in section[1] %}
                {%- unless tag == page.page_id %}
                {%- assign related_page = site.pages | where:"page_id",tag | first %}
                <a class="nohover" href="{{related_page.url | relative_url }}"  data-bs-toggle="tooltip" title="{{related_page.type | replace: '_', ' ' | capitalize}}"><span class="badge default-badge">{{ related_page.title | truncate: 25 }}</span></a>
                {%- endunless %}
                {%- endfor %}
                {%- endunless %}
                {%- endfor %}
                {%- endcapture %}
                <td>{{related_pages}}</td>
                {%- else %}
                <td></td>
                {%- endif %}
                <td>
                    {%- if tool.registry.biotools %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="Bio.tools" href="https://bio.tools/{{tool.registry.biotools}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-info me-2"></i>Tool info</span></a>
                    {%- endif %}
                    {%- if tool.registry.fairsharing %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="FAIRsharing" href="https://fairsharing.org/FAIRsharing.{{tool.registry.fairsharing}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-database me-2"></i>Standards/Databases</span></a>
                    {%- endif %}
                    {%- if tool.registry.fairsharing-coll %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="FAIRsharing collection" href="https://fairsharing.org/{{tool.registry.fairsharing-coll}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-database me-2"></i>Standards/Databases</span></a>
                    {%- endif %}
                    {%- if tool.registry.tess %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="TeSS" href="https://tess.elixir-europe.org/search?q={{tool.registry.tess}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-graduation-cap me-2"></i>Training</span></a>
                    {%- endif %}
                    {%- if tool.registry.europmc %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="EuroPMC" href="https://europepmc.org/article/MED/{{tool.registry.europmc}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-book me-2"></i>Publication</span></a>
                    {%- endif %}
                </td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
<div id="skip-tool-table-1"></div>
{%- endif %}
{%- if page.ref_to_main_resources %}
{%- assign tool_ids = page.ref_to_main_resources %}
<h3>{{page.title}} contributes to</h3>
<p>Institutions and organisations in {{page.title}} are actively involved in the development of the following tools and resources.</p>
<a class="visually-hidden-focusable" href='#skip-tool-table-2'>Skip tool table</a>
<div class="table-responsive mt-4 mb-5">
    <table class="tooltable table display">
        <thead>
            <tr class="text-nowrap">
                <th>Resource</th>
                <th>Description</th>
                <th>Related pages</th>
                <th>Registry
                    <a data-bs-toggle="tooltip" data-bs-original-title="Links to related information in ELIXIR registries: related policies and standards in FAIRsharing, scientific and technical descriptions of the resource in bio.tools, and related training in TeSS.">
                        <i class="fa-solid fa-info-circle"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {%- for tool_id in tool_ids | sort %}
            {%- assign tool =  site.data.tool_and_resource_list | where:"id", tool_id | first %}
            <tr>
                {% if tool.url %}
                <td><a href="{{tool.url}}">{{tool.name}}</a>
                </td>
                {%- else %}
                <td>{{tool.name}}</td>
                {%- endif %}
                <td>{{tool.description | markdownify }}
                    {%- if tool.instance_of or tool.how_to_access %}
                    {%- assign linked_tool = site.data.tool_and_resource_list | where:"id", tool.instance_of | first %}
                    <div class="d-block mt-1">
                        {%- if linked_tool %}
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="This resource is an instance of {{linked_tool.name}}"><span class="badge text-primary border border-primary">{{linked_tool.name}}</span></span>
                        {%- endif %}                        {%- if tool.how_to_access %}
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{tool.how_to_access}}"><span class="badge text-primary border border-primary"> <i class="fa-solid fa-key"></i></span></span>
                        {%- endif %}
                    </div>
                    {%- endif %}
                </td>
                {%- capture related_pages %}
                {%- for tag in tool.related_pages %}
                {%- unless tag == page.page_id %}
                {%- assign related_page = site.pages | where:"page_id",tag | first %}
                <a href="{{related_page.url | relative_url }}"  data-bs-toggle="tooltip" title="{{related_page.type | replace: '_', ' ' | capitalize}}"><span class="badge default-badge">{{ related_page.title | truncate: 25 }}</span></a>
                {%- endunless %}
                {%- endfor %}
                {%- endcapture %}
                <td>{{related_pages}}</td>
                <td>
                    {%- if tool.registry.biotools %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="Bio.tools" href="https://bio.tools/{{tool.registry.biotools}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-info me-2"></i>Tool info</span></a>
                    {%- endif %}
                    {%- if tool.registry.fairsharing %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="FAIRsharing" href="https://fairsharing.org/FAIRsharing.{{tool.registry.fairsharing}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-database me-2"></i>Standards/Databases</span></a>
                    {%- endif %}
                    {%- if tool.registry.fairsharing-coll %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="FAIRsharing collection" href="https://fairsharing.org/{{tool.registry.fairsharing-coll}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-database me-2"></i>Standards/Databases</span></a>
                    {%- endif %}
                    {%- if tool.registry.tess %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="TeSS" href="https://tess.elixir-europe.org/search?q={{tool.registry.tess}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-graduation-cap me-2"></i>Training</span></a>
                    {%- endif %}
                    {%- if tool.registry.europmc %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="EuroPMC" href="https://europepmc.org/article/MED/{{tool.registry.europmc}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-book me-2"></i>Publication</span></a>
                    {%- endif %}
                </td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
<div id="skip-tool-table-2"></div>
{%- endif %}
