{%- assign allcountries = site.data.countries %}
{%- assign except = include.except | split: ", " %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-{{ include.col | default: 2 }} gy-4 navigation-tiles">
    {%- for current_page in site.pages | sorted %}
    {%- if current_page.title and current_page.search_exclude != true and current_page.type == include.type %}
    {%- unless except contains current_page.name %}
    <div class="col d-grid">
        <a role="button" class="btn p-4 fs-4 section-title navigation-tile-simple-link d-flex align-items-center justify-content-between gap-3 text-start lh-sm h-100" href="{{ current_page.url | relative_url }}">
            <span class="flex-grow-1">{{current_page.title}}{% if current_page.country_code %}<span class="fi shadow-sm ms-2 align-middle fi-{{current_page.country_code | downcase }}"></span>{% endif %}</span>
            <span class="navigation-tile-arrow flex-shrink-0" aria-hidden="true">
                <i class="icon-arrow-right"></i>
            </span>
        </a>
    </div>
    {% endunless %}
    {%- endif %}
    {%- endfor %}
</div>
