<script>
  $(document).ready(function () {
    $('#toc').toc({ minimumHeaders: {{site.theme_variables.toc.min_headers | default: 2 }}, listType: 'ul', noBackToTopLinks: true, showSpeed: 0, headers: '{{site.theme_variables.toc.headers | default: 'main h2' }}' , title: '', classes:{toc:'p-3 rounded my-4'} });
  });
</script>
{%- assign col = site.theme_variables.toc.full_width %}
{%- unless col %}
<div class="col-12 col-sm-7 col-xl-5">
{%- endunless  %}
  <div id="toc"></div>
{%- unless col %}
</div>
{%- endunless  %}
