<a class="visually-hidden-focusable" href='#skip-tool-table'>Skip tool table</a>
<div class="table-responsive mt-4 mb-5">
    <table class="trainingtable table display">
        <thead>
            <tr class="text-nowrap">
                <th>Name
                    <a data-bs-toggle="tooltip" data-bs-original-title="This is a curated list which means that not all trainings that exist for a certain topic are listed here. This is mainly because we do not intend to be a registry. In most cases you will only find back the tools or resources that are mentioned in this page.">
                        <i class="fa-solid fa-info-circle"></i>
                    </a>
                </th>
                <th>Related page</th>
                <th>Registry</th>
            </tr>
        </thead>
        <tbody>
            {%- for page in site.pages %}
            {%- unless page.search_exclude == true %}
            {%- if page.training %}
            {%- assign actual_training = nil %}
            {%- for training in page.training %}
            {%- if training.name %}
            {%- assign actual_training = 1 %}
            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- if actual_training %}
            {%- for training in page.training %}
            <tr>
                <td><a href="{{training.url | relative_url }}">{{training.name}}{%- if training.name == 'Training in TeSS'%} about {{page.title}}{%- endif %}</a></td>
                <td><a href="{{page.url | relative_url }}"><span class="badge default-badge">{{page.title}}</span></a></td>
                <td>{%- if training.registry %}<span class="badge bg-dark text-white hover-primary">{{training.registry}}</span>{%- endif %}</td>
            </tr>
            {%- endfor %}
            {%- endif %}
            {%- endunless %}
            {%- endfor %}
        </tbody>
    </table>
</div>
<div id="skip-tool-table"></div>
