/*-----Theme colors-----*/
$light-x: #e3e1e4;

/*-----Custom bootstrap values-----*/
$link-decoration: none;

/*-----Custom variables-----*/
$font-family-theme: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
