/*-----Top navigation-----*/

.navbar-nav .nav-item > a.active {
    border-bottom: 4px solid $primary;
    margin-bottom: -4px;
}

/*-----Contributors carousel dynamic height-----*/

.contributor-cards {
    .card {
        display: flex;
        flex-direction: column;
        
        .card-body {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .card-footer {
            flex-shrink: 0;
        }
    }
}
