/*-----General styling-----*/
$font-family-theme: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$h2-color: $primary;

/*-----Buttons hover style-----*/
$btn-primary-bg-hover: $primary;
$btn-primary-color-hover: $white;

/*-----Top navigation-----*/
$topnav-bg: $light;
$topnav-title-color: $primary;
$topnav-brand-height: 44px;

/*-----Search-----*/
$search-result-color: $primary;

/*-----Sidebar-----*/
$sidebar-bg: $light;
$sidebar-color: $dark;
$sidebar-lvl2-bg: $white;
$sidebar-lvl2-color: $dark;
$sidebar-lvl3-bg: $white;
$sidebar-lvl3-color: $dark;
$sidebar-bg-active: $primary;
$sidebar-color-active: $white;

/*-----Section navigation tiles-----*/
$nav-card-bg: $light;
$nav-card-color: $dark;
$nav-card-bg-hover: $primary;
$nav-card-color-hover: $white;

/*-----More information tiles-----*/
$info-card-bg: $light;
$info-card-color: $dark;
$info-card-bg-hover: $primary;
$info-card-color-hover: $white;

/*-----Contributors-cards-----*/
$contr-card-bg: $light;

/*-----Page contributors-----*/
$contr-bg: $light;
$contr-link-bg: $white;
$contr-crown-bg: $dark;
$contr-crown-color: $white;
$contr-popover-bg: $white;

/*-----Events & news-----*/
$news-title-bg: $primary;
$news-border-color: $light;
$news-title-color: $white;

/*-----Default badge-----*/
$badge-color: $body-color;
$badge-bg: $light;
$badge-color-hover: $white;
$badge-bg-hover: $primary;

/*-----Footer-----*/
$footer-bg: $light;
$footer-color: $dark;
$footer-link-color: $dark;
$footer-link-color-hover: $primary;
$footer-copyright-bg: $gray-200;
$footer-ett: $dark;
